<a href="/login.html"><span>登&nbsp;&nbsp;录</span></a>&nbsp;|&nbsp;<a href="/register.html"><span>注&nbsp;&nbsp;册</span></a>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>链算数据-区块链信息服务平台</title>
    <link rel="shortcut icon" href="../images/Logo_40.png" type="image/x-icon">
    <!--Layui-->
    <link href="../plug/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="../plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="../css/global.css" rel="stylesheet" />
    <!--本页样式表-->
    <link href="../css/article.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../slider2/css/base.css">
    <link rel="stylesheet" type="text/css" href="../slider2/css/index.css">
    <style>
        .blog-body{
            margin-top: 64px;
            min-width: 1150px;
        }
        .blog-title{
            text-align: left;
            font-size: 18px;
            height: 60px;
            line-height: 70px;
            background: white;
            margin-bottom: 5px;
        }
        .layui-btn2 {
            display: inline-block;
            height: 28px;
            border-radius: 15px;
            /* text-align: left; */
            line-height: 28px;
            padding: 0px 20px 0px 10px;
            background-color: #393D49;
            color: #fff;
            white-space: nowrap;
            text-align: left;
            font-size: 12px;
            border: none;
            /*border: 1px #4c4949 solid;*/
            border-radius: 15px;
            cursor: pointer;
        }

        #login-tag{
            font-size: 12px;
            margin-left: 20px;
        }
        .layui-btn2 .layui-icon {
            /* margin-right: 3px; */
            /* font-size: 18px; */
            vertical-align: bottom;
            vertical-align: middle\9;

        }

        #h-writing button:hover{
            color: #6c9894;
            cursor: pointer;
        }
        #login-tag a{
            cursor: pointer;
        }

        #uinfo-view {
            position: absolute;
            right: 0;
            width: 65px;
            margin-right: 50px;
        }
        #xiewenzhangn{
            float: right;
            width: 100px;
            padding-top: 14px;
        }


        #login-tag a{
            cursor: pointer;
        }
        #login-tag a span{
            color: #fff;font-size: 12px;
        }
        .blog-nav .blog-logo{
            top:15px;
        }
    </style>
</head>
<body>
<!-- 导航 -->
<nav class="blog-nav layui-header">
    <div class="blog-container" id="blog-container">

    </div>
</nav>

<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <!-- 这个一般才是真正的主体内容 -->
    <div class="blog-container">
        <div class="blog-main">
            <!--左边文章列表-->

            <div class="blog-main-left">
               <div id="articles" style="border: 1px #e2e2e2 solid;">

                   <div class="blog-title">&nbsp;&nbsp;&nbsp;&nbsp;<img src="../images/kuaixun.svg">7x24h快讯</div>

               </div>
                <div class="admin-table-page">
                    <div id="paged" class="page">
                    </div>
                </div>
                <div id="paging" style="width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    color: #3e6d43;">加载更多...</div>
            </div>
            <!--右边小栏目-->
            <div class="blog-main-right">
                <div class="blog-module shadow">
                    <div class="blog-module-title">热文排行</div>
                    <ul class="fa-ul blog-module-ul">
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">Web安全之跨站请求伪造CSRF</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC 防范跨站请求伪造（CSRF）</a>
                        </li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">常用正则表达式</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">EF CodeFirst数据迁移常用指令</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">浅谈.NET Framework基元类型</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">C#基础知识回顾-扩展方法</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（一）（HTML篇）</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（二）（CSS篇）</a></li>
                    </ul>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">最近分享</div>
                    <ul class="fa-ul blog-module-ul">
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="http://pan.baidu.com/s/1c1BJ6Qc"
                                                                       target="_blank">Canvas</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="http://pan.baidu.com/s/1kVK8UhT"
                                                                       target="_blank">pagesize.js</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="https://pan.baidu.com/s/1mit2aiW"
                                                                       target="_blank">时光轴</a></li>
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="https://pan.baidu.com/s/1nuAKF81"
                                                                       target="_blank">图片轮播</a></li>
                    </ul>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">一路走来</div>
                    <dl class="footprint">
                        <dt>2017年03月12日</dt>
                        <dd>新增留言回复功能！人人都可参与回复！</dd>
                        <dt>2017年03月10日</dt>
                        <dd>不落阁2.0基本功能完成，正式上线！</dd>
                        <dt>2017年03月09日</dt>
                        <dd>新增文章搜索功能！</dd>
                        <dt>2017年02月25日</dt>
                        <dd>QQ互联接入网站，可QQ登陆发表评论与留言！</dd>
                    </dl>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">后台记录</div>
                    <dl class="footprint">
                        <dt>2017年03月16日</dt>
                        <dd>分页新增页容量控制</dd>
                        <dt>2017年03月12日</dt>
                        <dd>新增管家提醒功能</dd>
                        <dt>2017年03月10日</dt>
                        <dd>新增Win10快捷菜单</dd>
                    </dl>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">友情链接</div>
                    <ul class="blogroll">
                        <li><a target="_blank" href="http://www.layui.com/" title="Layui">Layui</a></li>
                        <li><a target="_blank" href="http://www.pagemark.cn/" title="页签">页签</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- 底部 -->
<footer class="blog-footer">
    <p id="partner-view" style="text-align: left;padding:0 10px">

    </p>

    <p id="partner-url" style="text-align: left;padding:0 20px">
        友情链接： 比特时代
    </p>
    <p><span>Copyright</span><span>&copy;</span><span>2017</span><a href="">Lins</a><span>Design By Mr.Lin</span></p>
    <p><a href="" target="_blank">蜀ICP备160299x4e5号-1</a></p>
</footer>
<!--侧边导航-->
<ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
    <li class="layui-nav-item layui-this">
        <a href="/home"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
    </li>
    <li class="layui-nav-item">
        <a href="timeline.html"><i class="fa fa-road fa-fw"></i>&nbsp;点点滴滴</a>
    </li>
    <li class="layui-nav-item">
        <a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
    </li>
</ul>
<!--分享窗体-->
<div class="blog-share layui-hide">
    <div class="blog-share-body">
        <div style="width: 200px;height:100%;">
            <div class="bdsharebuttonbox">
                <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </div>
    </div>
</div>
<!--遮罩-->
<div class="blog-mask animated layui-hide"></div>
<script src="../slider/js/jquery-1.10.1.min.js"></script>
<script src="../slider/js/idangerous.swiper2.7.6.min.js"></script>
<script src="../slider/js/swiper.animate1.0.2.min.js"></script>
<script id="partner" type="text/html">
    {{# layui.each(d.result,function(index,item){}}
    <a href="{{item.url}}"> <img src="{{item.logo}}" style="width:100px;height:40px;margin-left:5px;"></a>
    {{#  }); }}
</script>
<script id="uInfoTpl" type="text/html">
    {{# layui.each(d.result,function(index,item){}}
    <div onmouseover="userLogoin();" onmouseleave="setTimeout('userLogoout()', 3000);" id="ufo" style="margin-top: 15px;width: 35px;height: 35px;float: left;border-radius: 50%;overflow:hidden;">
        <img src="{{item.logo}}" style="width: 100%;">
    </div>

    <li class="layui-nav-item" lay-unselect="">
        <dl class="layui-nav-child" id="menu-view" onmouseover="userLogoin2();" onmouseleave="userLogoout2();" >
            <dd><a href="/center">个人中心</a></dd>
            <dd><a href="/center/article">我的文章</a></dd>
            <dd><a href="/center/message;">消息中心</a></dd>
            <dd onclick="logout();" style="cursor: pointer"><a style="cursor: pointer">退出</a></dd>
        </dl>
    </li>

    {{#  }); }}
</script>
<script id="header_view" type="text/html">
    {{# layui.each(d.result, function(index, item){ }}
    <div id="uinfo-view"">
    <div onmouseover="userLogoin();" onmouseleave="setTimeout('userLogoout()', 3000);" id="ufo" style="margin-top: 15px;width: 35px;height: 35px;float: left;border-radius: 50%;overflow:hidden;">
        <img src="{{item.logo}}" style="width: 100%;">
    </div>
    <li class="layui-nav-item" lay-unselect="">
        <dl class="layui-nav-child" id="menu-view" onmouseover="userLogoin2();" onmouseleave="userLogoout2();" >
            <dd><a href="/center">个人中心</a></dd>
            <dd><a href="/center/article">我的文章</a></dd>
            <dd><a href="/center/message;">消息中心</a></dd>
            <dd onclick="logout();" style="cursor: pointer"><a style="cursor: pointer">退出</a></dd>
        </dl>
    </li>
    </div>

    {{# }); }}
    {{#  if(d.result.length === 0){ }}
    <div id="login-tag" style="position: absolute;right: 80px;float:left;line-height: 65px;color: #fff;font-size: 14px;">
        <a href="/login.html"><span>登&nbsp;&nbsp;录</span></a>&nbsp;|&nbsp;<a href="/register.html"><span>注&nbsp;&nbsp;册</span></a>
    </div>
    {{#  } }}
    <div id="xiewenzhangn">
        <div class="h-writing" style="width: 100px;height: 48px;">
            <li style="width: 78px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-top: 5px;
    margin-left: 24px;
    border-radius: 15px;
    background: #393D49">
                <button class="layui-btn2" style="
    /* height: 30px; */
    "><i class="layui-icon"></i>写文章</button>
            </li>
        </div>
    </div>

    <a href="javascript:;" class="blog-user layui-hide">
        <img src="../images/Absolutely.jpg" alt="Absolutely" title="Absolutely"/>
    </a>
    <!-- 不落阁 -->
    <a class="blog-logo" href="home.html">
        <img src="../images/logo.svg">
    </a>
    <!-- 导航菜单 -->
    <ul class="layui-nav" lay-filter="nav">
        <li class="layui-nav-item">
            <a href="/home"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a>
        </li>
        <!--<li class="layui-nav-item">-->
        <!--<a href="/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;资讯</a>-->
        <!--</li>-->
        <li class="layui-nav-item layui-this">
            <a href="/flash"><i class="fa fa-file-text fa-fw"></i>&nbsp;快讯</a>
        </li>
        <li class="layui-nav-item">
            <a href="/project"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;项目库</a>
            <!--</li>-->
            <!--<li class="layui-nav-item">-->
            <!--<a href="timeline.html"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;项目库</a>-->
            <!--</li>-->
        <li class="layui-nav-item">
            <a href="/author"><i class="fa fa-thumbs-up fa-fw"></i>&nbsp;作家</a>
        </li>
        <li class="layui-nav-item">
            <a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于我们</a>
        </li>
    </ul>
    <!-- 手机和平板的导航开关 -->
    <a class="blog-navicon" href="javascript:;">
        <i class="fa fa-navicon"></i>
    </a>
</script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        pagination: '.pagination',
        paginationClickable: true,
        autoplay: 5000,
        speed: 1,

        //autoplayDisableOnInteraction : false,

        onInit: function (swiper) { //Swiper2.x的初始化是onFirstInit
            swiperAnimateCache(swiper); //隐藏动画元素
            swiperAnimate(swiper); //初始化完成开始动画
        },
        onSlideChangeEnd: function (swiper) {
            swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
        }
        //loop:true 第一页面动画出不来 大bug....
    })

    $('.arrow-left').on('click', function (e) {
        e.preventDefault()
        mySwiper.swipePrev()
    })
    $('.arrow-right').on('click', function (e) {
        e.preventDefault()
        mySwiper.swipeNext()
    })

    $(function () {
        var b = $("#solutionList li");
        b.mouseover(function () {
            var e = $(this);
            b.removeClass("active");
            e.addClass("active")
        });
    })


</script>
<!-- layui.js -->
<script src="../plug/layui/layui.js"></script>
<!-- 全局脚本 -->
<script src="../js/global.js"></script>
<!-- 本页脚本 -->
<script src="../js/home.js"></script>

<script id="tpl" type="text/html">
    <ul>
        {{# layui.each(d.result, function(index, item){ }}
        <div class="article shadow">
            <div class="article-left">
                <img src="{{ item.cover }}" alt="{{ item.title }}"/>
            </div>
            <div class="article-right">
                <div class="article-title">
                    <a href="{{ '/detail/' + item.id }}">{{ item.title }}</a>
                </div>
                <div class="article-abstract">
                    {{ item.remark }}
                </div>
            </div>
            <div class="clear"></div>
            <div class="article-footer">
                <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{ item.crtTime }}</span>
                <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;{{ item.crtName}}</span>
                <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{{ item.tag }}</a></span>
                <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{ item.pageView }}</span>
                <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{ item.commentCount}}</span>
            </div>
        </div>
        {{# }); }}

        {{# if(d.result.length === 0){ }}
        无数据
        {{# } }}
    </ul>
</script>
<script id="friendshipTpl" type="text/html">
    友情链接： {{# layui.each(d.result, function(index, item){ }}
    <a href="{{item.url}}" target="_blank">{{item.name}}</a>&nbsp;&nbsp;
    {{# }); }}
</script>
<script>
    layui.config({
        base: 'js/'
    });
    var currentPage = 2;
    var count = 0;
    var totalPage = 1;
    var type = 0;
    layui.use('laytpl', function() {
        var laytpl = layui.laytpl;
        var getTpl = tpl.innerHTML
            , view = document.getElementById('articles');

        $.ajax({
            url: base.url + '/blog/api/flash/page?pageIndex=1&pageSize=10&type=' + type,

            contentType: "application/json; charset=utf-8",
            dataType: 'jsonp',
            jsonp: 'callback',
            success: function (data, status, xhr) {
                count = data.count;
                if(count%10 > 0){
                    totalPage = Math.floor(count/10) + 1;
                }else{
                    totalPage = count/10;
                }
                if((currentPage - totalPage) == 1){
                    $("#paging").html("没有更多数据了");
                }
                laytpl(getTpl).render(data, function (html) {
                    $("#articles").append(html);
                });
            }
        })

    });
    layui.use('laytpl', function() {
        var laytpl = layui.laytpl;
        var getTpl = partner.innerHTML,
            friendshipTemplate = friendshipTpl.innerHTML
            , view = document.getElementById('partner-view'),
            shipView = document.getElementById('partner-url');

        $.ajax({
            url: base.url + '/blog/api/partner/list',

            contentType: "application/json; charset=utf-8",
            dataType: 'jsonp',
            jsonp: 'callback',
            success: function (data, status, xhr) {
                laytpl(getTpl).render(data, function (html) {
                    view.innerHTML = html;
                });
            }
        })

        $.ajax({
            url: base.url + '/blog/api/ship/list',

            contentType: "application/json; charset=utf-8",
            dataType: 'jsonp',
            jsonp: 'callback',
            success: function (data, status, xhr) {
                laytpl(friendshipTemplate).render(data, function (html) {
                    shipView.innerHTML = html;
                });
            }
        })
    });

    $("#paging").on('click',function(){

        if(currentPage <= totalPage){
            $.ajax({
                url: base.url + '/blog/api/flash/page?pageIndex='+currentPage+'&pageSize=10&type=' + type,

                contentType: "application/json; charset=utf-8",
                dataType: 'jsonp',
                jsonp: 'callback',
                success: function (data, status, xhr) {
                    currentPage ++;
                    if(currentPage > totalPage){
                        $("#paging").html("没有更多数据了");
                    }
                    layui.use('laytpl', function() {
                        var laytpl = layui.laytpl;
                        var getTpl = tpl.innerHTML;
                        laytpl(getTpl).render(data, function (html) {
                            //view.innerHTML = html;
                            $("#articles").append(html);
                        });
                    });

                }
            })
        }

    });
</script>

</body>
</html>