<a href="/login.html"><span>登&nbsp;&nbsp;录</span></a>&nbsp;|&nbsp;<a
        href="/register.html"><span>注&nbsp;&nbsp;册</span></a>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>链算数据-行情</title>
    <link rel="shortcut icon" href="../images/Logo_40.png" type="image/x-icon">
    <!--Layui-->
    <link href="../plug/layui/css/layui.css" rel="stylesheet"/>
    <!--font-awesome-->
    <link href="../plug/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!--全局样式表-->
    <link href="../css/global.css" rel="stylesheet"/>
    <!--本页样式表-->
    <link href="../css/article.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../slider2/css/base.css">
    <link rel="stylesheet" type="text/css" href="../slider2/css/index.css">
    <style>
        .blog-body {
            margin-top: 64px;
            min-width: 1250px;
        }

        ::-webkit-scrollbar {
            width: 4px;
            height: 4px;
            background-color: black;
        }

        /*定义滚动条的轨道，内阴影及圆角*/
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            border-radius: 10px;
            background-color: white;
        }

        /*定义滑块，内阴影及圆角*/
        ::-webkit-scrollbar-thumb {
            /*width: 10px;*/
            height: 15px;
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #a09f9f;
        }

        #layui-laypage-1 .layui-laypage-count {
            display: none;
        }

        .m-hot {
            background: #fff;
            padding: 0 19px;
            border: 1px solid #EBEBEB;
            border-bottom: none;
            height: 250px;
            margin-top: 0px;
        }

        .m-hot2 {
            background: #fff;
            padding: 0 19px;
            border-top: none;
        }

        .m-hot-tt {
            font-size: 18px;
            line-height: 20px;
            color: #333;
            padding: 24px 0 15px;
        }

        ul, ol, dl, dd, dt {
            list-style: none;
        }

        .posImgY {
            width: 100%;
            height: 100%;
        }

        .m-hot li {
            position: relative;
            padding-bottom: 20px;
            height: 180px;
            list-style: none;
        }

        .m-hot-tt i {
            padding: 0 10px;
            margin-right: 6px;
            background: url(../images/wenzhang.svg) no-repeat center;
        }

        .m-hot-f .m-hot-pic {
            width: 100%;

            overflow: hidden;
        }

        .m-hot-pic img {
            cursor: pointer;
            transition: all 0.6s;
        }

        .m-hot-pic img:hover {
            transform: scale(1.4);
        }

        .m-hot-f span {
            display: none;
        }

        .layui-form-select .layui-input {
            border: none;
        }

        .m-hot-num {
            position: relative;
            top: -70px;
            left: 5px;
            width: 14px;
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #fff;
            z-index: 10;
            padding: 0 2px;
        }

        .m-hot-f .m-hot-text a {
            font-size: 16px;
            width: 100%;
            height: auto;
            color: #fff;
            padding: 8px 15px;
            background: rgba(0, 0, 0, .5);
            box-sizing: border-box;
            position: relative;
            bottom: 60px;
        }

        .m-hot-text a {
            width: 191px;
            position: relative;
            bottom: 50px;
        }

        .m-hot-text a {
            position: absolute;
            bottom: 20px;
            right: 0;
            width: 211px;
            height: 42px;
            font-size: 14px;
            color: #333;
        }

        .m-hot-f-after {
            left: 10px;
        }

        .m-hot-f-after {
            content: ' ';
            position: absolute;
            top: 1px;
            left: 10px;
            width: 36px;

            height: 30px;
            background: url(../images/no.1.svg) no-repeat center;
        }

        #hotNewList-ul-id {
            position: relative;
        }

        .blog-title {
            text-align: left;
            font-size: 18px;
            height: 60px;
            line-height: 70px;
            background: white;
            margin-bottom: 5px;
        }

        .layui-btn2 {
            display: inline-block;
            height: 28px;
            border-radius: 15px;
            /* text-align: left; */
            line-height: 28px;
            padding: 0px 20px 0px 10px;
            background-color: #393D49;
            color: #fff;
            white-space: nowrap;
            text-align: left;
            font-size: 12px;
            border: none;
            /*border: 1px #4c4949 solid;*/
            border-radius: 15px;
            cursor: pointer;
        }

        #login-tag {
            font-size: 12px;
            margin-left: 20px;
        }

        .layui-btn2 .layui-icon {
            /* margin-right: 3px; */
            /* font-size: 18px; */
            vertical-align: bottom;
            vertical-align: middle \9;

        }

        .layui-table-box, .layui-table-view {
            width: 100%;
        }

        #h-writing button:hover {
            color: #6c9894;
            cursor: pointer;
        }

        #login-tag a {
            cursor: pointer;
        }

        #uinfo-view {
            position: absolute;
            right: 0;
            width: 65px;
            margin-right: 50px;
        }

        #xiewenzhangn {
            float: right;
            width: 100px;
            padding-top: 14px;
        }

        #login-tag a {
            cursor: pointer;
        }

        #login-tag a span {
            color: #fff;
            font-size: 12px;
        }

        .blog-nav .blog-logo {
            top: 5px;
        }

        @media (min-width: 1200px) {
            .blog-container {
                width: 1250px;
            }

            .blog-main > .blog-main-left {
                width: 78%;
            }

            .blog-main > .blog-main-right {
                width: 21%;
            }

            .blog-main > .blog-main-right > .blog-module {
                width: auto;
                float: none !important;
            }
        }
    </style>
</head>
<body>
<!-- 导航 -->
<nav class="blog-nav layui-header">
    <div class="blog-container" id="blog-container">

    </div>
</nav>

<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <!-- 这个一般才是真正的主体内容 -->
    <div class="blog-container">
        <div class="blog-main">
            <!--左边文章列表-->

            <div class="blog-main-left">
                <div class="demoTable" style="width: 100%;height:40px;line-height:40px;background: white;">
                    <div style="width: 40%;float: left;">
                        <div class="layui-form-item" style="float: left">
                            <div class="layui-inline">
                                <label class="layui-form-label">币种列表</label>
                                <select name="type" id="update_supply_id" style="margin-top: 8px;">
                                    <option value="" selected>全部币种</option>
                                    <option value="1">货币</option>
                                    <option value="2">代币</option>
                                    <option value="3">可挖矿</option>
                                    <option value="4">不可挖矿</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div style="width: 60%;background: white"></div>
                </div>

                <table class="layui-hide" id="LAY_table_user" lay-filter="user" style="width: 100%;"></table>


            </div>
            <!--右边小栏目-->
            <div class="blog-main-right" style="background: white;">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="margin:0">
                    <div style="width: 100%;background: white;color: #36a0ff;font-size:16px;border-bottom: 1px #ccc solid;height:30px;line-height: 30px;text-align: center;">
                        涨幅榜
                    </div>
                    <ul class="layui-tab-title">

                        <li class="layui-this" style="min-width: 30px;" onclick="tagClick('change1h')">一小时</li>
                        <li style="min-width: 30px;" onclick="tagClick('change1d')">一天</li>
                        <li style="min-width: 30px;" onclick="tagClick('change7d')">一周</li>
                        <li style="min-width: 30px;" onclick="tagClick('all')">全部</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show" id="change1h"></div>
                        <div class="layui-tab-item" id="change1d"></div>
                        <div class="layui-tab-item" id="change7d"></div>
                        <div class="layui-tab-item" id="all"></div>
                    </div>
                </div>
                <div style="width: 100%;background: #EEEEEE;border-bottom: 1px #ccc solid;height:10px;line-height: 10px;text-align: center;">

                </div>
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="margin:0">
                    <div style="width: 100%;color: #36a0ff;font-size:16px;background: white;border-bottom: 1px #ccc solid;height:30px;line-height: 30px;text-align: center;">
                        跌幅榜
                    </div>
                    <ul class="layui-tab-title">

                        <li class="layui-this" style="min-width: 30px;" onclick="dieClick('change1h',1)">一小时</li>
                        <li style="min-width: 30px;" onclick="dieClick('change1d',1)">一天</li>
                        <li style="min-width: 30px;" onclick="dieClick('change7d',1)">一周</li>
                        <li style="min-width: 30px;" onclick="dieClick('all',0)">全部</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show" id="diechange1h"></div>
                        <div class="layui-tab-item" id="diechange1d"></div>
                        <div class="layui-tab-item" id="diechange7d"></div>
                        <div class="layui-tab-item" id="dieall"></div>
                    </div>
                </div>
                <div style="width: 100%;background: #EEEEEE;border-bottom: 1px #ccc solid;height:10px;line-height: 10px;text-align: center;">

                </div>
                <div id="hotNewsView"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- 底部 -->
<footer class="blog-footer">
    <p id="partner-view" style="text-align: left;padding:0 10px">

    </p>

    <p id="partner-url" style="text-align: left;padding:0 20px">
        友情链接： 比特时代
    </p>
    <p><span>Copyright</span><span>&copy;</span><span>2017</span><a href="">Lins</a><span>Design By Mr.Lin</span></p>
    <p><a href="" target="_blank">蜀ICP备160299x4e5号-1</a></p>
</footer>
<!--侧边导航-->
<ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
    <li class="layui-nav-item layui-this">
        <a href="/home"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
    </li>
    <li class="layui-nav-item">
        <a href="timeline.html"><i class="fa fa-road fa-fw"></i>&nbsp;点点滴滴</a>
    </li>
    <li class="layui-nav-item">
        <a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
    </li>
</ul>
<!--分享窗体-->
<div class="blog-share layui-hide">
    <div class="blog-share-body">
        <div style="width: 200px;height:100%;">
            <div class="bdsharebuttonbox">
                <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </div>
    </div>
</div>
<!--遮罩-->
<div class="blog-mask animated layui-hide"></div>
<script src="../slider/js/jquery-1.10.1.min.js"></script>
<script src="../slider/js/idangerous.swiper2.7.6.min.js"></script>
<script src="../slider/js/swiper.animate1.0.2.min.js"></script>
<script id="partner" type="text/html">
    {{# layui.each(d.result,function(index,item){}}
    <a href="{{item.url}}"> <img src="{{item.logo}}" style="width:100px;height:40px;margin-left:5px;"></a>
    {{#  }); }}
</script>
<script id="uInfoTpl" type="text/html">
    {{# layui.each(d.result,function(index,item){}}
    <div onmouseover="userLogoin();" onmouseleave="setTimeout('userLogoout()', 3000);" id="ufo"
         style="margin-top: 15px;width: 35px;height: 35px;float: left;border-radius: 50%;overflow:hidden;">
        <img src="{{item.logo}}" style="width: 100%;">
    </div>

    <li class="layui-nav-item" lay-unselect="">
        <dl class="layui-nav-child" id="menu-view" onmouseover="userLogoin2();" onmouseleave="userLogoout2();">
            <dd><a href="/center">个人中心</a></dd>
            <dd><a href="/center?article">我的文章</a></dd>
            <dd><a href="/center?message">消息中心</a></dd>
            <dd onclick="logout();" style="cursor: pointer"><a style="cursor: pointer">退出</a></dd>
        </dl>
    </li>

    {{#  }); }}
</script>
<script id="header_view" type="text/html">
    {{# layui.each(d.result, function(index, item){ }}
    <div id="uinfo-view"">
    <div onmouseover="userLogoin();" onmouseleave="setTimeout('userLogoout()', 3000);" id="ufo"
         style="margin-top: 15px;width: 35px;height: 35px;float: left;border-radius: 50%;overflow:hidden;">
        <img src="{{item.logo}}" style="width: 100%;">
    </div>
    <li class="layui-nav-item" lay-unselect="">
        <dl class="layui-nav-child" id="menu-view" onmouseover="userLogoin2();" onmouseleave="userLogoout2();">
            <dd><a href="/center">个人中心</a></dd>
            <dd><a href="/center/article">我的文章</a></dd>
            <dd><a href="/center/message;">消息中心</a></dd>
            <dd onclick="logout();" style="cursor: pointer"><a style="cursor: pointer">退出</a></dd>
        </dl>
    </li>
    </div>

    {{# }); }}
    {{#  if(d.result.length === 0){ }}
    <div id="login-tag"
         style="position: absolute;right: 80px;float:left;line-height: 65px;color: #fff;font-size: 14px;">
        <a href="/login.html"><span>登&nbsp;&nbsp;录</span></a>&nbsp;|&nbsp;<a
            href="/register.html"><span>注&nbsp;&nbsp;册</span></a>
    </div>
    {{#  } }}
    <div id="xiewenzhangn" onclick="writting();">
        <div class="h-writing" style="width: 100px;height: 48px;">
            <li style="width: 78px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-top: 5px;
    margin-left: 24px;
    border-radius: 15px;
    background: #393D49">
                <button class="layui-btn2" style="
    /* height: 30px; */
    "><i class="layui-icon"></i>写文章
                </button>
            </li>
        </div>
    </div>

    <a href="javascript:;" class="blog-user layui-hide">
        <img src="../images/Absolutely.jpg" alt="Absolutely" title="Absolutely"/>
    </a>


    <a class="blog-logo" href="home.html">
        <img src="../images/logo_chain.png">
    </a>
    <!-- 导航菜单 -->
    <ul class="layui-nav" lay-filter="nav">
        <li class="layui-nav-item">
            <a href="/home"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a>
        </li>
        <!--<li class="layui-nav-item">-->
        <!--<a href="/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;资讯</a>-->
        <!--</li>-->
        <li class="layui-nav-item layui-this">
            <a href="/flash"><i class="fa fa-file-text fa-fw"></i>&nbsp;一线</a>
        </li>
        <li class="layui-nav-item">
            <a href="/market"><i class="fa fa-btc fa-fw"></i>&nbsp;行情</a>
        </li>
        <!--</li>-->
        <!--<li class="layui-nav-item">-->
        <!--<a href="timeline.html"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;项目库</a>-->
        <!--</li>-->
        <li class="layui-nav-item">
            <a href="/author"><i class="fa fa-thumbs-up fa-fw"></i>&nbsp;作家</a>
        </li>
        <li class="layui-nav-item">
            <a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于我们</a>
        </li>
    </ul>
    <!-- 手机和平板的导航开关 -->
    <a class="blog-navicon" href="javascript:;">
        <i class="fa fa-navicon"></i>
    </a>
</script>

<script src="../plug/layui/layui.js"></script>
<!-- 全局脚本 -->
<script src="../js/global.js"></script>
<!-- 本页脚本 -->
<script src="../js/home.js"></script>

<script id="friendshipTpl" type="text/html">
    友情链接： {{# layui.each(d.result, function(index, item){ }}
    <a href="{{item.url}}" target="_blank">{{item.name}}</a>&nbsp;&nbsp;
    {{# }); }}
</script>
<script id="hotNewsTpl" type="text/html">
    {{# if(d.result.length === 0){ }}
    <div class="m-hot" style="border-bottom: none">
        <div class="m-hot-tt"><i></i>热门文章</div>
        <ul id="hotNewList-ul-id">
            <div class="clear"></div>
        </ul>
    </div>
    {{# } }}

    {{# layui.each(d.result, function(index, item){ }}

    {{# if(index === 0){ }}
    <div class="m-hot" style="border-bottom: none">
        <div class="m-hot-tt"><i></i>热门文章</div>
        <ul id="hotNewList-ul-id">
            <li class="m-hot-f">
                <p class="m-hot-pic" style="cursor: pointer;" onclick="window.location.href='/detail/{{item.id}}'">
                    <img src="{{item.cover}}" alt="" class="posImgY"></p>
                <p class="m-hot-text"><a href="/article/{{item.id}}" target="_blank">{{item.title}}</a></p>
                <span class="m-hot-num m-hot-num1">1</span>
            </li>
            <i class="m-hot-f-after"></i>
        </ul>
    </div>
    {{# } }}
    {{# if(index > 0){ }}
    <div class="m-hot2">
        <ul>
            <li>
                <div style="height: 70px;cursor: pointer;" onclick="window.location.href='/detail/{{item.id}}'">
                                        <span style="width:25%;float: left;height:80%;">
                                            <img src="{{item.cover}}" alt="" class="posImgY">
                                        </span>
                    <span class="m-hot2-remark"><a href="/article/{{item.id}}" target="_blank">{{item.title}}</a></span>
                </div>
                <span class="m-hot-num m-hot-num3"
                      style="opacity: 0.7;{{# if(index == 2){}}background:#E58D00;{{#}}} {{# if(index == 2){}}background:#F5CD23;{{#}}}{{# if(index >= 3){}}background:#4A4A4A;{{#}}}">{{index}}</span>
            </li>
        </ul>
    </div>
    {{# } }}


    {{# }); }}
</script>
<script type="text/html" id="nameTpl">
    <div style="width: 200px;">
        <div style="width: 20px;height: 20px;border-radius: 50%;overflow: hidden;float: left;margin-top:4px;">
            <img style="width: 100%" src="https://blockchains.oss-cn-shanghai.aliyuncs.com/static/coinInfo/{{d.id}}.png"
                 alt="" onerror="$(this).hide();  "/>
        </div>
        <a href="/market/{{d.id}}"><span style=" margin-left:10px;">{{d.name}}</span></a>

    </div>
</script>
<script type="text/html" id="priceTpl">
    <div>${{d.price}}</div>
</script>
<script type="text/html" id="sortTpl">
    <div style="display: none;">{{d.id}}</div><span>{{d.sort}}</span>
</script>

<script type="text/html" id="change1dTpl">
    {{#  if(d.change1d > 0){ }}
    <div style="color: red;">{{d.change1d}}%</div>
    {{#  } }}
    {{#  if(d.change1d < 0){ }}
    <div style="color: green;">{{d.change1d}}%</div>
    {{#  } }}
</script>
<script type="text/html" id="availabelTpl">
    <div>${{d.available_supply}}万</div>
</script>
<script type="text/html" id="volumeTpl">
    <div>${{d.volume_ex}}万</div>
</script>
<script type="text/html" id="marketCapTpl">
    <div>${{d.marketCap}}万</div>
</script>
<script type="text/html" id="suggestTpl">
    {{# layui.each(d.suggest_ex, function(index, item){ }}
    <a href="{{item.link}}" target="_blank"><span>{{item.zh_name}}</span></a>
    {{# }); }}
</script>
<script type="text/html" id="priceTpl">
    <div>${{d.price}}<input id="{{d.id}}" name="d.id" class="column-id"/></div>
</script>

<script id="change1hTpl" type="text/html">
    <ul style="width: 100%;">

        <li style="width: 100%;background: white;border-bottom: 1px #ccc solid;height:30px;line-height: 30px;text-align: center;">
            <span style="width: 10%;float: left;height: 30px;">排行</span>
            <span style="height: 30px;width: 35%;float: left;">名称</span>
            <span style="height: 30px;width: 30%;float: left">价格</span>
            <span style="height: 30px;width: 25%;float: left;">涨幅</span>
        </li>
        {{# layui.each(d, function(index, item){ }}
        <li style="width: 100%;background: white;border-bottom: 1px #ccc solid;height:40px;text-align: center;">
            <div style="width: 10%;float:left;line-height: 40px;height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">
                <span style="width: 100%;padding: 3px;height: 10px;line-height: 40px;color: white; {{# if(index == 0){}}background:#ff6149;{{#}}} {{# if(index == 1){}}background:#ff920a;{{#}}} {{# if(index == 2){}}background:#ffc602;{{#}}}{{# if(index >2){}}background:#cacaca;{{#}}}">{{index + 1}}</span>
            </div>
            <span style="line-height: 40px;width: 35%;float: left;height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">{{item.name}}</span>
            <span style="line-height: 40px;width: 30%;float: left;height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">${{item.price}}</span>
            <span style="line-height: 40px;width: 25%;float: left;height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;{{# if(item.change1h > 0){}} color:green;{{#}}}{{# if(item.change1h <= 0){}} color:red;{{#}}}">{{item.change1h}}</span>
        </li>
        {{# }); }}
    </ul>
</script>

<script id="change1ddTpl" type="text/html">

    <li style="width: 100%;background: white;border-bottom: 1px #ccc solid;height:30px;line-height: 30px;text-align: center;">
        <span style="width: 10%;float: left;height: 30px;">排行</span>
        <span style="height: 30px;width: 35%;float: left;">名称</span>
        <span style="height: 30px;width: 30%;float: left">价格</span>
        <span style="height: 30px;width: 25%;float: left;">涨幅</span>
    </li>
    <ul style="width: 100%;">
        {{# layui.each(d, function(index, item){ }}
        <li style="width: 100%;background: white;border-bottom: 1px #ccc solid;height:40px;text-align: center;">
            <div style="width: 10%;float: left;line-height: 40px;height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">
                <span style="width: 100%;padding: 3px;height: 10px;line-height: 40px;color: white; {{# if(index == 0){}}background:#ff6149;{{#}}} {{# if(index == 1){}}background:#ff920a;{{#}}} {{# if(index == 2){}}background:#ffc602;{{#}}}{{# if(index >2){}}background:#cacaca;{{#}}}">{{index + 1}}</span>
            </div>
            <span style="line-height: 40px;width: 35%;float: left;height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">{{item.name}}</span>
            <span style="line-height: 40px;width: 30%;float: left;height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">${{item.price}}</span>
            <span style="line-height: 40px;width: 25%;float: left;height: 40px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;{{# if(item.change1d > 0){}} color:green;{{#}}}{{# if(item.change1d <= 0){}} color:red;{{#}}}">{{item.change1d}}</span>
        </li>
        {{# }); }}
    </ul>
</script>

<script id="change7dTpl" type="text/html">
    <ul style="width: 100%;text-align: center;">

        <li style="width: 100%;background: white;border-bottom: 1px #ccc solid;height:30px;line-height: 30px;">
            <span style="width: 10%;float: left;height: 30px;">排行</span>
            <span style="height: 30px;width: 35%;float: left;">名称</span>
            <span style="height: 30px;width: 30%;float: left">价格</span>
            <span style="height: 30px;width: 25%;float: left;">涨幅</span>
        </li>
        {{# layui.each(d, function(index, item){ }}
        <li style="width: 100%;background: white;border-bottom: 1px #ccc solid;height:40px;text-align: center;">
            <div> style="width: 10%;float: left;line-height: 40px;height: 40px;">
                <span style="width: 100%;padding: 3px;height: 10px;line-height: 40px;background: red;">{{index + 1}}</span>
            </div>
            <span style="line-height: 40px;width: 35%;float: left;height: 40px;">{{item.name}}</span>
            <span style="line-height: 40px;width: 30%;float: left;height: 40px;">${{item.price}}</span>
            <span style="line-height: 40px;width: 25%;float: left;height: 40px;{{# if(item.change7d > 0){}} color:green;{{#}}}{{# if(item.change7d <= 0){}} color:red;{{#}}}">{{item.change7d}}</span>
        </li>
        {{# }); }}
    </ul>
</script>
<script>
    layui.config({
        base: 'js/'
    });
    layui.use('laytpl', function () {
        var laytpl = layui.laytpl;
        var hostNesTemplate = hotNewsTpl.innerHTML
            , hotNewsView = document.getElementById('hotNewsView');
        $.ajax({
            url: base.url + '/blog/api/article/page',
            data: {
                pageIndex: 1,
                pageSize: 5
            },
            contentType: "application/json; charset=utf-8",
            dataType: 'jsonp',
            jsonp: 'callback',
            success: function (data, status, xhr) {

                laytpl(hostNesTemplate).render(data, function (html) {
                    hotNewsView.innerHTML = html;
                });

            }
        });
    });
    layui.use('laytpl', function () {
        var laytpl = layui.laytpl;
        var getTpl = partner.innerHTML,
            friendshipTemplate = friendshipTpl.innerHTML
            , view = document.getElementById('partner-view'),
            shipView = document.getElementById('partner-url');

        $.ajax({
            url: base.url + '/blog/api/partner/list',

            contentType: "application/json; charset=utf-8",
            dataType: 'jsonp',
            jsonp: 'callback',
            success: function (data, status, xhr) {
                laytpl(getTpl).render(data, function (html) {
                    view.innerHTML = html;
                });
            }
        })

        $.ajax({
            url: base.url + '/blog/api/ship/list',

            contentType: "application/json; charset=utf-8",
            dataType: 'jsonp',
            jsonp: 'callback',
            success: function (data, status, xhr) {
                laytpl(friendshipTemplate).render(data, function (html) {
                    shipView.innerHTML = html;
                });
            }
        })


    });


    layui.use('table', function () {
        var table = layui.table;
        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            , url: base.url + '/blog/api/market/page',
            response: {
                code: 0,
                countName: 'count',
                dataName: 'data'
            },
            limit: 50,
            contentType: "application/json; charset=utf-8"
            , cols: [[
//                {checkbox: true, fixed: true}
//                ,
                {
                    field:'id',title:'#',width:80, fixed: true,templet:'#sortTpl'
                },
                {
                    field: 'name', width: 200,
                    title: '名称', sort: true,
                    templet: '#nameTpl'
                }
                , {field: 'price', sort: true, title: '价格', templet: '#priceTpl'}
                , {field: 'change1d', sort: true, title: '涨幅榜', templet: '#change1dTpl'}
                , {field: 'available_supply', sort: true, title: '流通数量', templet: '#availabelTpl'}
                , {field: 'volume_ex', sort: true, title: '交易量', templet: '#volumeTpl'}
                , {field: 'marketCap', sort: true, title: '市值', templet: '#marketCapTpl'}
                , {field: 'suggest_ex', sort: true, title: '推荐交易所', templet: '#suggestTpl'}
            ]]
            , id: 'testReload'
            , page: true,
            done: function (res, curr, count) {

                console.log($('#LAY_table_user').parent().find('table').find('tbody')[0])
                console.log($($('#LAY_table_user').parent().find('table').find('tbody')[0]).find('tr')[0]);
                var trs = $($('#LAY_table_user').parent().find('table').find('tbody')[0]).find('tr');

                function getIds() {
                    var ids = "";
                    for (var i = 0; i < trs.length; i++) {
                        var cur = trs[i];
                        var tds = $(cur).find('td');
                        var id = $(tds[0]).attr('data-content');
                        ids = ids + id + ",";
                    }
                    console.log(ids)
                    return ids;
                }

                setInterval(function () {

                    $.ajax({
                        url: "/api/market/getByIds",
                        type: 'POST',
                        data: {
                            ids: getIds()
                        },
                        contentType: "application/json; charset=utf-8",


                        success: function (res) {
                            var datas = res;
                            for (var i = 0; i < trs.length; i++) {
                                var cur = trs[i];
                                var tds = $(cur).find('td');

                                var currentName = "";
                                var currentData = "";
                                for (var j = 0; j < tds.length; j++) {
                                    var td = tds[j];
                                    for(var m = 0; m < datas.length; m++){
                                        var data = datas[m];
                                        if(data.name == $(td).attr('data-content') ){
                                            currentData = data;
                                        }
                                    }
                                }

                                for(var x=0; x < tds.length; x ++){
                                    var td = tds[x];

                                    if ($(td).attr('data-field') == 'price') {
                                        if(currentData.price != undefined){

                                            var price = parseFloat(currentData.price).toFixed(2);
                                            var oldPrice = $(td).find("div").text().split("$")[1];
                                            console.log(currentData.price + "---------" + oldPrice + "/n")
                                            if (currentData.price > oldPrice) {
                                                $(td).find("div").css('color', 'red');
                                                $(td).find("div").css('font-weight', 'bold');
                                                $(td).find("div").text("$"+currentData.price + "↑");
                                            }
                                            if (currentData.price < oldPrice) {
                                                $(td).find("div").css('color', 'green');
                                                $(td).find("div").css('font-weight', '100');
                                                $(td).find("div").text("$"+currentData.price + "↓");
                                            }
                                        }
                                    }
                                    if ($(td).attr('data-field') == 'change1d') {
                                        if(currentData.change1d != undefined){
                                            var change1d = (parseFloat(currentData.change1d).toFixed(2));
                                            var oldChange1d = $(td).find("div").text().split("%")[0];

                                            if (oldChange1d != change1d) {
                                                if (change1d > 0) {
                                                    $(td).find("div").css('font-weight', 'bold');
                                                    $(td).find("div").css('color', 'red');
                                                }
                                                if (change1d < 0) {
                                                    $(td).find("div").css('color', 'green');
                                                    $(td).find("div").css('font-weight', '100');
                                                }
                                                $(td).find("div").text(change1d + "%");
                                            }
                                        }
                                    }

                                    if ($(td).attr('data-field') == 'volume_ex') {
                                        if(currentData.volume_ex != undefined){
                                            var volume_ex = "$" + (parseFloat(currentData.volume_ex).toFixed(2)) + "万";
                                            if ($(td).find("div").text() != volume_ex) {
                                                $(td).find("div").text(volume_ex);
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    });
                }, 10000);


            }

        });

        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: {
                            id: $('#update_supply_id').val()
                        }
                    }
                });
            }
        };


    });

    $('#update_supply_id').on('change', function () {
        var coinType = $(this).val();
        layui.use('table', function () {
            var table = layui.table;
            table.reload('testReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },

                where: {
                    coinType: coinType
                }
            });

            console.log(table)
        });
    });


    $.ajax({
        url: base.url + '/blog/api/market/list',
        contentType: "application/json; charset=utf-8",
        data: {
            size: 8,
            select: 'change1h',
            limitType: 1
        },
        dataType: 'json',
        success: function (data, status, xhr) {

            var laytpl = layui.laytpl,
                getTpl = change1hTpl.innerHTML;
            layui.use('laytpl', function () {
                laytpl(getTpl).render(data.data, function (html) {

                    $("#change1h").html(html);
                });
            });
        }
    });

    $.ajax({
        url: base.url + '/blog/api/market/list',
        contentType: "application/json; charset=utf-8",
        data: {
            size: 8,
            select: 'change1h',

            diefu: 1,
            limitType: 1
        },
        dataType: 'json',
        success: function (data, status, xhr) {

            var laytpl = layui.laytpl,
                getTpl = change1hTpl.innerHTML;
            layui.use('laytpl', function () {
                laytpl(getTpl).render(data.data, function (html) {

                    $("#diechange1h").html(html);
                });
            });
        }
    });
    function tagClick(id) {

        var laytpl = layui.laytpl;
        var getTpl;
        $.ajax({
            url: base.url + '/blog/api/market/list',
            contentType: "application/json; charset=utf-8",
            data: {
                size: 8,
                select: id,
                limitType: 1
            },
            dataType: 'json',
            success: function (data, status, xhr) {

                layui.use('laytpl', function () {

                    if (id == 'change1h') {
                        getTpl = change1hTpl.innerHTML;
                        laytpl(getTpl).render(data.data, function (html) {

                            $("#change1h").html(html);
                        });
                    }

                    if (id == 'change1d') {
                        getTpl = change1ddTpl.innerHTML;
                        laytpl(getTpl).render(data.data, function (html) {
                            $("#change1d").html(html);
                        });
                    }
                    if (id == 'change7d') {
                        getTpl = change7dTpl.innerHTML;
                        laytpl(getTpl).render(data.data, function (html) {
                            $("#change7d").html(html);
                        });
                    }
                    if (id == 'all') {
                        getTpl = change1hTpl.innerHTML;
                        laytpl(getTpl).render(data.data, function (html) {
                            $("#all").html(html);
                        });
                    }
                });

            }
        })
    };


    function dieClick(id, limitType) {

        var laytpl = layui.laytpl;
        var getTpl;
        $.ajax({
            url: base.url + '/blog/api/market/list',
            contentType: "application/json; charset=utf-8",
            data: {
                size: 8,
                select: id == 0 ? 'change7d' : id,
                limitType: limitType,
                diefu: 1,
            },
            dataType: 'json',
            success: function (data, status, xhr) {

                layui.use('laytpl', function () {

                    if (id == 'change1h') {
                        getTpl = change1hTpl.innerHTML;
                        laytpl(getTpl).render(data.data, function (html) {

                            $("#diechange1h").html(html);
                        });
                    }

                    if (id == 'change1d') {
                        getTpl = change1ddTpl.innerHTML;
                        laytpl(getTpl).render(data.data, function (html) {
                            $("#diechange1d").html(html);
                        });
                    }
                    if (id == 'change7d') {
                        getTpl = change7dTpl.innerHTML;
                        laytpl(getTpl).render(data.data, function (html) {
                            $("#diechange7d").html(html);
                        });
                    }
                    if (id == 'all') {
                        getTpl = change1hTpl.innerHTML;
                        laytpl(getTpl).render(data.data, function (html) {
                            $("#dieall").html(html);
                        });
                    }
                });

            }
        })
    };
    //
    //    function  changeFun(o) {
    //        console.log($(o))
    //        layui.use('table', function () {
    //            var table = layui.table;
    //            var $ = layui.$, active = {
    //                reload: function () {
    //                    var demoReload = $('#demoReload');
    //
    //                    //执行重载
    //                    table.reload('testReload', {
    //                        page: {
    //                            curr: 1 //重新从第 1 页开始
    //
    //                        }
    //                        , where: {
    //                            key: {
    //                                id: demoReload.val()
    //                            }
    //                        }
    //                    });
    //                }
    //            };
    //
    //            var type = $(this).data('type');
    //            active[type] ? active[type].call(this) : '';
    //
    //        });
    //    }

    $(function () {
        layui.use('table', function () {
            var table = layui.table;
            console.log(table.cache)
            console.log($(".layui-table-main").find('table').find("tbody").find("tr"))
        });


    })
</script>

</body>
</html>