<!--
    
 @Name：不落阁整站模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>链算数据-区块链信息服务平台</title>
    <link rel="shortcut icon" href="../images/Logo_40.png" type="image/x-icon">
    <!--Layui-->
    <link href="../plug/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="../plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="../css/global.css" rel="stylesheet" />
    <!--本页样式表-->
    <link href="../css/article.css" rel="stylesheet" />
    <link href="../css/drag.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../slider2/css/base.css">
    <link rel="stylesheet" type="text/css" href="../slider2/css/index.css">
    <style>
        .blog-body{
            margin-top: 64px;
            min-width: 1150px;
        }
        .blog-title{
            text-align: left;
            font-size: 18px;
            height: 60px;
            line-height: 70px;
            background: white;
            margin-bottom: 5px;
        }

        .layui-input-block{
            margin-left: 0px;
            min-height: 36px;
        }
        .form-view{
            width: 350px;
            margin: 0 auto;
            margin-top: 120px;
            padding: 25px 15px;
            background-color: white;
            border: 1px #e2dddd solid;
            border-radius: 5px;
        }
        .title-view{
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            color: #393d48;
        }
        .btnSubmit{
            text-align: center;
            padding: 8px;
            color: #fff;
            background-color: #c9cac7;
            font-size: 14px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<!-- 导航 -->
<nav class="blog-nav layui-header">
    <div class="blog-container">
        <!-- QQ互联登陆 -->
        <!--<a href="javascript:;" class="blog-user">-->
            <!--<i class="fa fa-qq"></i>-->
        <!--</a>-->
        <div id="login-tag" style="display:block;position: absolute;right: 80px;float:left;line-height: 65px;color: #fff;font-size: 14px;">
            <a><span style="color: white;">登&nbsp;&nbsp;录</span></a>&nbsp;|&nbsp;<a><span>注&nbsp;&nbsp;册</span></a>
        </div>

        <a href="javascript:;" class="blog-user layui-hide">
            <img src="../images/Absolutely.jpg" alt="Absolutely" title="Absolutely"/>
        </a>
        <!-- 不落阁 -->
        <a class="blog-logo" href="/home.html">
            <img src="../images/logo_chain.png">
        </a>
        <!-- 导航菜单 -->
        <ul class="layui-nav" lay-filter="nav">
            <li class="layui-nav-item ">
                <a href="/home"><i class="fa fa-home fa-fw"></i>&nbsp;首页</a>
            </li>
            <!--<li class="layui-nav-item">-->
                <!--<a href="/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;资讯</a>-->
            <!--</li>-->
            <li class="layui-nav-item">
                <a href="/flash"><i class="fa fa-file-text fa-fw"></i>&nbsp;一线</a>
            </li>
            <li class="layui-nav-item">
                <a href="/market"><i class="fa fa-btc fa-fw"></i>&nbsp;行情</a>
            </li>
                <!--</li>-->
                <!--<li class="layui-nav-item">-->
                <!--<a href="timeline.html"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;项目库</a>-->
                <!--</li>-->
            <li class="layui-nav-item">
                <a href="/author"><i class="fa fa-thumbs-up fa-fw"></i>&nbsp;作家</a>
            </li>
            <li class="layui-nav-item">
                <a href="/about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于我们</a>
            </li>
        </ul>
        <!-- 手机和平板的导航开关 -->
        <a class="blog-navicon" href="javascript:;">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</nav>

<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <!-- 这个一般才是真正的主体内容 -->
    <div class="blog-container">
        <div class="blog-main">
            <!--左边文章列表-->
            <form class="layui-form form-view" action="">
                <div class="layui-form-item">
                    <div class="layui-input-block title-view">
                        会员登录
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="text" id="username"  name="username" lay-verify="username" autocomplete="off" placeholder="用户账号" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="password" id="password"  name="password" lay-verify="password" autocomplete="off" placeholder="创建密码" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="password" id="password2"  name="password2" lay-verify="password2" autocomplete="off" placeholder="确认密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <div id="drag"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <a>
                            <div class="btnSubmit" id="btnSubmit2">注&nbsp;&nbsp;册</div>
                        </a>
                    </div>
                </div>
                <div>
                    <div>
                        <div><span><input type="checkbox" id="queding">我已阅读并接受<a href="register">《服务条款》</a></span></div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><span>已有链算数据账号？<a href="/login">立即登录</a></span></div>
                    </div>
                </div>
            </form>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- 底部 -->
<footer class="blog-footer">
    <p id="partner-view" style="text-align: left;padding:0 10px">

    </p>

    <p id="partner-url" style="text-align: left;padding:0 20px">
        友情链接： 比特时代
    </p>
    <p><span>Copyright</span><span>&copy;</span><span>2017</span><a href="">Lins</a><span>Design By Mr.Lin</span></p>
    <p><a href="" target="_blank">蜀ICP备160299x4e5号-1</a></p>
</footer>
<!--侧边导航-->
<ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
    <li class="layui-nav-item layui-this">
        <a href="/home"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="/article"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
    </li>
    <li class="layui-nav-item">
        <a href="timeline.html"><i class="fa fa-road fa-fw"></i>&nbsp;点点滴滴</a>
    </li>
    <li class="layui-nav-item">
        <a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
    </li>
</ul>
<!--分享窗体-->
<div class="blog-share layui-hide">
    <div class="blog-share-body">
        <div style="width: 200px;height:100%;">
            <div class="bdsharebuttonbox">
                <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </div>
    </div>
</div>
<!--遮罩-->
<div class="blog-mask animated layui-hide"></div>
<script src="../slider/js/jquery-1.10.1.min.js"></script>
<script src="../js/drag.js"></script>
<script src="../slider/js/idangerous.swiper2.7.6.min.js"></script>
<script src="../slider/js/swiper.animate1.0.2.min.js"></script>
<script id="partner" type="text/html">
    {{# layui.each(d.result,function(index,item){}}
    <a href="{{item.url}}"> <img src="{{item.logo}}" style="width:100px;height:40px;margin-left:5px;"></a>
    {{#  }); }}
</script>
<script id="friendshipTpl" type="text/html">
    友情链接： {{# layui.each(d.result, function(index, item){ }}
    <a href="{{item.url}}" target="_blank">{{item.name}}</a>&nbsp;&nbsp;
    {{# }); }}
</script>
<!-- layui.js -->
<script src="../plug/layui/layui.js"></script>
<!-- 全局脚本 -->
<script src="../js/global.js"></script>
<!-- 本页脚本 -->
<script src="../js/home.js"></script>

<script>
    layui.config({
        base: 'js/'
    });

    layui.use('laytpl', function() {
        var laytpl = layui.laytpl;
        var getTpl = partner.innerHTML,
            friendshipTemplate = friendshipTpl.innerHTML
            , view = document.getElementById('partner-view'),
            shipView = document.getElementById('partner-url');

        $.ajax({
            url: base.url + '/blog/api/partner/list',

            contentType: "application/json; charset=utf-8",
            dataType: 'jsonp',
            jsonp: 'callback',
            success: function (data, status, xhr) {
                laytpl(getTpl).render(data, function (html) {
                    view.innerHTML = html;
                });
            }
        })

        $.ajax({
            url: base.url + '/blog/api/ship/list',

            contentType: "application/json; charset=utf-8",
            dataType: 'jsonp',
            jsonp: 'callback',
            success: function (data, status, xhr) {
                laytpl(friendshipTemplate).render(data, function (html) {
                    shipView.innerHTML = html;
                });
            }
        })
    });

    $('#drag').drag();



    //$('.btnSubmit').unbind('click');


</script>
</body>
</html>