<div style="margin: 15px;">
	<form class="layui-form" action="">
		<div class="layui-form-item">
			<label class="layui-form-label">账号</label>
			<div class="layui-input-block">
				<input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="请输入账号" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">昵称</label>
			<div class="layui-input-block">
				<input type="text" name="nick" lay-verify="required" autocomplete="off" placeholder="请输入昵称" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">性别</label>

				<div class="layui-input-block">

					<input type="radio" name="sex" value="男" title="男" id="nanSex"/>
					<input type="radio" name="sex" value="女" title="女" id="nvSex"/>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">生日</label>
			<div class="layui-input-block">
				<input type="text" name="tirthyStr" id="tirthyStr"  placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">工作</label>
			<div class="layui-input-block">
				<input type="text" name="work" lay-verify="required" autocomplete="off" placeholder="请输入工作" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">国家</label>
			<div class="layui-input-block">
				<input type="text" name="country" lay-verify="required" autocomplete="off" placeholder="请输入国家" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">地址</label>
			<div class="layui-input-block">
				<input type="text" name="address" lay-verify="required" autocomplete="off" placeholder="请输入地址" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">邮箱</label>
			<div class="layui-input-block">
				<input type="email" name="email" lay-verify="required" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">个人说明</label>
			<div class="layui-input-block">
				<textarea type="text" name="remark" lay-verify="required" autocomplete="off" placeholder="请输入个人说明" class="layui-input" />
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">推荐</label>

				<div class="layui-input-block">

					<input type="radio" name="tuijian" value=是" title="是" id="tuijian">
					<input type="radio" name="tuijian" value="否" title="否" id="no-tuijian">
				</div>
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">头像</label>

			<div id="rightMainView">

				<div class="layui-upload">

					<div class="layui-upload-list">
						<img class="layui-upload-img" id="demo2" style="width: 150px;height: 150px;margin-left: 31px;">
						<p id="demoText"></p>
					</div>
					<button class="layui-btn" id="test1" style="margin-left: 140px;margin-top: 10px;" type="button">上传头像</button>
					<input class="layui-upload-file" type="file" name="file">
				</div>
			</div>
		</div>
		<input name="titleImg" id="titleImg" value="" type="hidden"/>
		<input name="logo" id="logo" value="" type="hidden"/>
		<button lay-filter="edit" lay-submit style="display: none;"></button>
	</form>
</div>

<link href="/admin/upload/css/common.css" type="text/css" rel="stylesheet">
<link href="/admin/upload/css/index.css" type="text/css" rel="stylesheet">

</head>
<!--

<div class="img-box full">
	<section class=" img-section">
		<div class="z_photo upimg-div clear" >
			&lt;!&ndash;<section class="up-section fl">
                 <span class="up-span"></span>
                 <img src="img/buyerCenter/a7.png" class="close-upimg">
                 <img src="img/buyerCenter/3c.png" class="type-upimg" alt="添加标签">
                 <img src="img/test2.jpg" class="up-img">
                 <p class="img-namep"></p>
                 <input id="taglocation" name="taglocation" value="" type="hidden">
                 <input id="tags" name="tags" value="" type="hidden">
             </section>&ndash;&gt;
			<section class="z_file fl">
				<img src="/admin/upload/img/a11.png" class="add-img">
				<input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
			</section>
		</div>
	</section>
</div>
<aside class="mask works-mask">
	<div class="mask-content">
		<p class="del-p ">您确定要删除作品图片吗？</p>
		<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
	</div>
</aside>
-->

<script src="/admin/upload/js/jquery-1.8.3.min.js"></script>
<script src="/admin/upload/js/imgUp.js"></script>

<script src="/admin/upload/js/ajaxfileupload.js"></script>
<script src="/admin/upload/js/imgUp.js"></script>
<script type="application/javascript">
    $(function(){
        layui.config({
            base: 'js/'
        });

        layui.use('upload', function() {
            var $ = layui.jquery
                , upload = layui.upload;



            //普通图片上传
            var uploadInst = upload.render({
                elem: '#test1'
                , url: '/file/upload'
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#demo2').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    console.log(res)
                    console.log("上传上传");
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    if ($("#logo")) {
                        console.log(res)

                        if (res.code == 0) {
                            $("#logo").val(res.src)
                        }
                    }
                    //上传成功
                }
                , error: function () {
                    console.log("errot")
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });
        });
    });
</script>