<div style="margin: 15px;">
	<form class="layui-form" action="">
		<div class="layui-form-item">
			<label class="layui-form-label">标题</label>
			<div class="layui-input-block">
				<input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">摘要</label>
			<div class="layui-input-block">
				<input type="text" name="remark" lay-verify="required" autocomplete="off" placeholder="请输入摘要" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">文章类型</label>
				<div class="layui-input-block">
					<select name="type" lay-filter="aihao" id="type" lay-verify="type">
						<option value=""></option>
						<option value="1">项目报告</option>
						<option value="2">精英视点</option>
						<option value="3">行业政策</option>
					</select>
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">首页轮播</label>
				<div class="layui-input-block">
					<select name="scroller" lay-filter="aihao" id="scroller" lay-verify="scroller">
						<option value="0">否</option>
						<option value="1">是</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">关键词</label>
				<div class="layui-input-block">
					<input type="text" name="tag" class="layui-input"  lay-verify="tag" placeholder="多个关键词请用;隔开">
				</div>
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">封面图片</label>

			<div id="rightMainView">

				<div class="layui-upload">

					<div class="layui-upload-list">
						<img class="layui-upload-img" id="demo2" style="width: 150px;height: 100px;margin-left: 31px;">
						<p id="demoText"></p>
					</div>
					<button class="layui-btn" id="test1" style="margin-left: 140px;margin-top: 10px;" type="button">上传封面</button>
					<input class="layui-upload-file" type="file" name="file">
				</div>
			</div>
		</div>

		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">内容</label>
			<div class="layui-input-block">
				<textarea class="layui-textarea layui-hide" name="content"  id="description_editor"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">浏览量</label>
			<div class="layui-input-block">
				<input type="number" name="pageView" lay-verify="required" autocomplete="off" placeholder="请输入数字" value="0" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item" style="display: none;" id=""suggestion"">
			<label class="layui-form-label">审核意见</label>
			<div class="layui-input-block">
				<textarea class="layui-textarea layui-hide" name="suggestion"></textarea>
			</div>
		</div>

		<input name="articleType" id="articleType" value="" type="hidden"/>
		<input name="titleImg" id="titleImg" value="" type="hidden"/>
		<input name="cover" id="cover" value="" type="hidden"/>
		<input name="status" id="status" value="" type="hidden"/>
		<input name="pageView" id="pageView" value="" type="hidden"/>
		<input name="commentCount" id="commentCount" value="" type="hidden"/>
		<button lay-filter="edit" lay-submit style="display: none;"></button>
	</form>
</div>

<link href="/admin/upload/css/common.css" type="text/css" rel="stylesheet">
<link href="/admin/upload/css/index.css" type="text/css" rel="stylesheet">

</head>


<aside class="mask works-mask">
	<div class="mask-content">
		<p class="del-p ">您确定要删除作品图片吗？</p>
		<p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
	</div>
</aside>

<script src="/admin/upload/js/jquery-1.8.3.min.js"></script>
<script src="/admin/upload/js/ajaxfileupload.js"></script>
<script src="/admin/upload/js/imgUp.js"></script>
<script type="application/javascript">
	$(function(){
        layui.config({
            base: 'js/'
        });

        layui.use('upload', function() {
            var $ = layui.jquery
                , upload = layui.upload;



            //普通图片上传
            var uploadInst = upload.render({
                elem: '#test1'
                , url: '/file/upload'
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#demo2').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    console.log(res)
					console.log("上传上传");
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    if ($("#logo")) {
                        console.log(res)

                        if (res.code == 0) {
                            $("#logo").val(res.src)
                        }
                    }
                    //上传成功
                }
                , error: function () {
                    console.log("errot")
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });
        });
	});
</script>