spring:
    application:
        name: admin-gate
    thymeleaf:
        mode: LEGACYHTML5
        cache: false
    jackson:
        date-format: yyyy-MM-dd HH:mm:ss
        time-zone: GMT+8
        default-property-inclusion: non_null
    redis:
        database: 1
        #host: localhost
        host: 39.108.59.108
        pool:
            max-active: 20
        #password: a1234567@!
        #port: 6379
        port: 6389
server:
    port: 8765 #启动端口
#
zuul:
  routes:
    back:
      path: /back/**
      serviceId: admin-back

    ui:
      path: /admin/**
      serviceId: admin-ui

    blog:
      path: /blog/**
      serviceId: blog-admin
    upload:
      path: /upload/**
      serviceId: blog-upload
ribbon:
  eureka:
    enabled: true

eureka:
    instance:
        statusPageUrlPath: /info
        healthCheckUrlPath: /health
        prefer-ip-address: true
        instance-id: ${spring.cloud.client.ipAddress}:${server.port}
        # docker 部署开启
#        prefer-ip-address: true
#        ip-address: 127.0.0.1
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/
            #defaultZone: http://39.108.59.108:8761/eureka/
                    # docker 部署开启
#            defaultZone: http://center:8761/eureka/
security:
    user:
        name: admin
        password: admin
        role: USER

#gate:
#  ignore:
#    startWith: /static
#    contain: .
#  oauth:
#    prefix: /api
#
#  jwt:
#    secret: Xe*g@1jda
#    expiration: 7200
#    header: access-token
upload:
    path: http://112.74.180.100:8188/