<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wxiaoqi.blog.admin.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.blog.admin.entity.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="crtTime" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="crtUser" jdbcType="INTEGER" property="crtUser" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
  </resultMap>
</mapper>
