<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wxiaoqi.blog.admin.mapper.FlashNewsMapper">
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.blog.admin.entity.FlashNews">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <!--<result column="type" jdbcType="VARCHAR" property="type" />-->
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="page_view" jdbcType="INTEGER" property="pageView" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="crtUser" jdbcType="VARCHAR" property="crtUser" />
    <result column="commentCount" jdbcType="INTEGER" property="commentCount" />
    <result column="hotValue" jdbcType="INTEGER" property="hotValue" />
    <result column="crtName" jdbcType="VARCHAR" property="crtName" />
    <result column="crt_host" jdbcType="VARCHAR" property="crtHost" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    <result column="upd_user" jdbcType="VARCHAR" property="updUser" />
    <result column="upd_name" jdbcType="VARCHAR" property="updName" />
    <result column="upd_host" jdbcType="VARCHAR" property="updHost" />
    <result column="attr1" jdbcType="VARCHAR" property="attr1" />
    <result column="attr2" jdbcType="VARCHAR" property="attr2" />
    <result column="attr3" jdbcType="VARCHAR" property="attr3" />
    <result column="attr4" jdbcType="VARCHAR" property="attr4" />
    <result column="attr5" jdbcType="VARCHAR" property="attr5" />
    <result column="attr6" jdbcType="VARCHAR" property="attr6" />
    <result column="attr7" jdbcType="VARCHAR" property="attr7" />
    <result column="attr8" jdbcType="VARCHAR" property="attr8" />
  </resultMap>


  <select id="selectByCrtTime" resultMap="BaseResultMap">
     SELECT
     id,title,cover,content,remark,tag,page_view pageView,crt_time crtTime,crtUser,comment_count commentCount,hot_value hotValue,crtName,crt_host crtHost,
      upd_time updTime,upd_user updUser,upd_name updName,upd_host updHost ,attr1,attr2,attr3,attr4,attr5,attr6,attr7,attr8
     FROM flash_news WHERE (DATE_FORMAT(crt_time,'yyyy-MM-dd')  BETWEEN DATE_FORMAT(#{startTime},'yyyy-MM-dd') AND DATE_FORMAT(#{endTime},'yyyy-MM-dd'))
     order by crt_time  desc
  </select>

  <select id="selectCountByCrtTime" resultType="java.lang.Integer">
    SELECT
    count(id)
    FROM flash_news WHERE (DATE_FORMAT(crt_time,'yyyy-MM-dd')  BETWEEN DATE_FORMAT(#{startTime},'yyyy-MM-dd') AND DATE_FORMAT(#{endTime},'yyyy-MM-dd'))
    order by crt_time  desc
  </select>
</mapper>